#content-main{
    display: flex;
    justify-content: center;
}
.flex{
    width:500px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.inflex{
    display:flex;
    justify-content: space-between;
    margin: 10px 0;
}
.inflex>input{
    width: 100%;
}
