{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Change Password' %}
</div>
{% endblock %}
{% block content_title %}{% endblock %}
{% block extrahead %}
{{block.super}}
<link rel="stylesheet" href="{% static 'admin/css/password_change_form.css' %}">
{% endblock%}

{% block content %}
<div id="content-main">
    <form method="post" action="{% url 'change_password' %}">{% csrf_token %}
        <div class="flex">
            <div class="inflex">
                <lable>Old Password</lable>
                <input type="text" name="old_pass" required>
            </div>
            <div class="inflex">
                <lable>New Password</lable>
                <input type="text" name="new_pass" required >
            </div>
            <div class="inflex">
                <lable>Confirm New Password</lable>
                <input type="text" name="conf_pass" required>
            </div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}